.card-info {
  max-width: 200px;
}
.card-info .card-info--icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  margin-bottom: 20px;
  border-radius: 15px;
  background-color: white;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.card-info .card-info--icon.dark-blue--icon {
  background: rgb(135, 181, 251) !important;
  background: linear-gradient(180deg, rgb(135, 181, 251) 0%, rgb(48, 131, 255) 100%) !important;
}
.card-info .card-info__details h5 {
  font-size: 1.1rem;
  margin-bottom: 10px;
}
.card-info .card-info__details p {
  font-size: 0.7rem;
}
