$colors: (
  "primary": #3083ff,
  "secondary": #3083ff,
  "tertiary": #e2ecfb,
  "white": #f3f3f3,
  "gray": #ebedef,
);

$font-size: (
  "xl": 4rem,
  "lg": 3rem,
  "md": 2rem,
  "sm": 1.5rem,
);

$border-radius: (
  "xl": 30px,
  "lg": 20px,
  "md": 15px,
  "sm": 5px,
);
