@use "./var";
@use "./mixins/buttons" as *;

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;

  .hero__left {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 600px;

    h1 {
      font-size: map-get(var.$font-size, "2xl");
      line-height: 70px;

      span {
        color: map-get(var.$colors, "primary");
      }
    }

    p {
      font-size: map-get(var.$font-size, "lg");
      color: map-get(var.$colors, "dark-gray");
    }

    button {
      @include primary-btn;
    }
  }
}
